.jumbotron {
  background-image: url(img/Untitled-1.jpg);
  background-size: cover;
  padding-top: 9rem;
}

h1 {
  font-size: 50px;
}
.arufati {
  padding-top: 10rem;
}
section {
  padding-top: 5rem;
}
h3 {
  font-size: 60px;
}
h4 {
  font-size: 35px;
}
#contact {
  background-color: #e2edff;
}
.product-box .product-img {
  position: relative;
}
.card {
  width: 230px;
}
